@model WebAppCar1.Models.ViewModels.CarViewMoels2

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CarViewMoels2</h4>
<hr />
<div class="row">
    <div class="col-md-4" >
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="car_ID" class="control-label"></label>
                <input asp-for="car_ID" class="form-control" disabled />
                <span asp-validation-for="car_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="car_Name" class="control-label"></label>
                <input asp-for="car_Name" class="form-control" />
                <span asp-validation-for="car_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="car_Plate" class="control-label"></label>
                <input asp-for="car_Plate" class="form-control" />
                <span asp-validation-for="car_Plate" class="text-danger"></span>
            </div>

            

            <div class="form-group">
                <label asp-for="person_ID" class="control-label"></label>
                <select asp-for="person_ID" class="form-control"
                        asp-items="@(new SelectList(Model.car_Person_List.ToList() ,"person_ID" ,"person_FName" , @Model.person_ID ))"></select>
                <span asp-validation-for="person_ID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="car_File" class="control-label"></label>
                <input asp-for="car_File" type="File" class="form-control" />
                <span asp-validation-for="car_File" class="text-danger"></span>

                <img src="~/uploads/@Model.car_ImageUrl" style="width:124px;" class="img-thumbnail" />
            </div>



            <div class="form-group">
                <input type="submit" value="Save"  class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
   
        <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
